<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" encoding="UTF-8">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty name="log_level" source="logback.level" defaultValue="INFO"/>
    <property name="root_path" value="/home/log/scc_log"/>
    <property name="log_size" value="50MB"/>
    <appender name="default_file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root_path}/default.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${root_path}/default.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${log_size}</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="dal_file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root_path}/dal.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${root_path}/dal%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${log_size}</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="warn_file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${root_path}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${root_path}/warn%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${log_size}</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>
                [host:%X{req.remoteHost}] [param:%X{req.queryString}]
                [URL:%X{req.requestURL}]%n
                级别:%p,类名:%logger,时间:%d,输出行:%L,输出消息:"%m"%n-------------------------------------------------------%n%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="error_file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${root_path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${root_path}/error%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${log_size}</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>
                [host:%X{req.remoteHost}] [param:%X{req.queryString}]
                [URL:%X{req.requestURL}]%n
                级别:%p,类名:%logger,时间:%d,输出行:%L,输出消息:"%m"%n-------------------------------------------------------%n%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.fosun.module.common.dao" additivity="false">
        <appender-ref ref="dal_file"/>
        <level value="debug"/>
    </logger>

    <root level="${log_level}">
        <!--默认为info级别,可从properties中配置-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="default_file"/>
        <appender-ref ref="error_file"/>
        <appender-ref ref="warn_file"/>
    </root>
    <!--TRACE, DEBUG, INFO, WARN, ERROR, ALL-->
</configuration>